.container {
  padding: 40px;
  /* background-image: url('../../assets/assesspf/testbg.jpeg'); */
  background-image: url("https://tse2.mm.bing.net/th/id/OIP.CZZx1NecHO2uO1LO6GsMoAHaFP?pid=Api&P=0&h=180");
  /* background-color: #333; */
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  background:#e6f0ff ;
}

.heading {
  text-align: center;
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 30px;
  color: #222;
}


.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: 20px;
}

.card {
background: white;
  border-radius: 14px;
  padding: 20px;
  border: 1px solid #e2e2e2;
  box-shadow: 0px 8px 25px rgba(0,0,0,0.08);
  /* transition: 0.3s; */
 transition:  transform 0.35s ease, box-shadow 0.35s ease;
}

.card:hover {
  box-shadow: 0px 6px 16px rgba(0,0,0,0.15);
  transform: translateY(8px);
border:solid 3px lightslategray;
  
}

.title {
  font-size: 20px;
  font-weight: 600;
}

.subtitle {
  margin-top: 5px;
  color: gray;
}

.time {
  margin-top: 10px;
  font-weight: 600;
  margin-left: 70px;
}

.btn-active {
  margin-top: 15px;
  width: 100%;
  padding: 10px;
  background: #38a169;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;

}

.btn-active:hover {
  background: #2f855a;
}
.title-row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon {
  font-size: 50px;
  color: #2c5282; /* blue icon */
  border: rgb(222, 221, 218) 2px solid;
  border-radius: 20%;
}
.card:hover .icon {
  transform: scale(1.2) rotate(0.5deg);
  filter: drop-shadow(0 0 0px currentColor);
  color: rgb(149, 201, 201);
}




