
.header{
   width: 100%;
   height: 200px; 
  background-image: url(../../assets/terms.jpeg);
 background-size: cover;
 background-position: top; 

}
.head {
    font-size: 60px;
    font-weight: bold;
    text-align:right;
    margin-bottom: 20px;
    padding-right: 100px;
    padding-top: 50px;
 
}
.main{
    width: 100%;
    /* height: auto; */
    background-image: url(../../assets/pexels-jessbaileydesign-743986\ \(1\).jpg);
    background-size: cover;

}
.guideline{
    text-align: center;
    text-decoration: underline;
    font-size: 30px;
    font-weight: bold;
}
h3{
    padding-left: 300px;
}
.ins{
    padding-left: 400px;
}
p{
    padding-left: 350px;

}
.agree-text{
    padding-top: 20px;
    padding-left: 500px;
}
#continueBtn{
    text-align: center;
    margin-top: 20px;
    margin-left: 600px;
    border-radius: 30px;
    height:40px;
    width: 140px;
    background-color: black;
    color: white;
}
.lastline{
    padding-left: 300px;
    padding-top: 10px;

}