<h1 [ngStyle]="{ 'color': heding }">Online Python Assignment</h1>
<h2>Multiple Choice Questions</h2>

<p [ngStyle]="{'color': questionColor}">1. Which keyword is used to define a function in Python?</p>
<ul><div class="box-body">
    <li><input type="checkbox" name="q1">func</li>
    <li><input type="checkbox" name="q1">function</li>
    <li><input type="checkbox" name="q1">lambda</li>
    <li><input type="checkbox" name="q1">def</li></div>
</ul>

<p [ngStyle]="{'color': questionColor}">2. Which data type is used to store a sequence of characters in Python?</p>
<ul><div class="box-body">
    <li><input type="checkbox" name="q2">int</li>
    <li><input type="checkbox" name="q2">float</li>
    <li><input type="checkbox" name="q2">str</li>
    <li><input type="checkbox" name="q2">bool</li></div>
</ul>

<p [ngStyle]="{'color': questionColor}">3. What is the output of: print(3 * "Hi")?</p>
<ul><div class="box-body">
    <li><input type="checkbox" name="q3">Hi3</li>
    <li><input type="checkbox" name="q3">3Hi</li>
    <li><input type="checkbox" name="q3">Hi Hi Hi</li>
    <li><input type="checkbox" name="q3">HiHiHi</li></div>
</ul>

<p [ngStyle]="{'color': questionColor}">4. Which of the following is a mutable data type in Python?</p>
<ul><div class="box-body">
    <li><input type="checkbox" name="q4">tuple</li>
    <li><input type="checkbox" name="q4">str</li>
    <li><input type="checkbox" name="q4">list</li>
    <li><input type="checkbox" name="q4">int</li></div>
</ul>

<p [ngStyle]="{'color': questionColor}">5. Which symbol is used to start a comment in Python?</p>
<ul><div class="box-body">
    <li><input type="checkbox" name="q5">//</li>
    <li><input type="checkbox" name="q5">/* */</li>
    <li><input type="checkbox" name="q5">#</li>
    <li><input type="checkbox" name="q5">--</li></div>
</ul>

<p [ngStyle]="{'color': questionColor}">6. Which operator is used for exponentiation in Python?</p>
<ul><div class="box-body">
    <li><input type="checkbox" name="q6">^</li>
    <li><input type="checkbox" name="q6">**</li>
    <li><input type="checkbox" name="q6">*</li>
    <li><input type="checkbox" name="q6">//</li></div>
</ul>

<p [ngStyle]="{'color': questionColor}">7. What is the correct file extension for Python files?</p>
<ul><div class="box-body">
    <li><input type="checkbox" name="q7">.pt</li>
    <li><input type="checkbox" name="q7">.py</li>
    <li><input type="checkbox" name="q7">.python</li>
    <li><input type="checkbox" name="q7">.p</li></div>
</ul>

<p [ngStyle]="{'color': questionColor}">8. What is the output of: len([1, 2, 3, 4])?</p>
<ul><div class="box-body">
    <li><input type="checkbox" name="q8">3</li>
    <li><input type="checkbox" name="q8">4</li>
    <li><input type="checkbox" name="q8">5</li>
    <li><input type="checkbox" name="q8">None</li></div>
</ul>

<p [ngStyle]="{'color': questionColor}">9. Which of these keywords is used to handle exceptions in Python?</p>
<ul><div class="box-body">
    <li><input type="checkbox" name="q9">try</li>
    <li><input type="checkbox" name="q9">catch</li>
    <li><input type="checkbox" name="q9">final</li>
    <li><input type="checkbox" name="q9">throw</li></div>
</ul>

<p [ngStyle]="{'color': questionColor}">10. Which of the following is used to create a dictionary?</p>
<ul><div class="box-body">
    <li><input type="checkbox" name="q10">[]</li>
    <li><input type="checkbox" name="q10">()</li>
    <li><input type="checkbox" name="q10">{{ '{' }}{{ '}' }}</li>
    <li><input type="checkbox" name="q10">""</li></div>
</ul>

<p [ngStyle]="{'color': questionColor}">11. Which keyword is used to create a class in Python?</p>
<ul><div class="box-body">
    <li><input type="checkbox" name="q11">function</li>
    <li><input type="checkbox" name="q11">class</li>
    <li><input type="checkbox" name="q11">def</li>
    <li><input type="checkbox" name="q11">new</li></div>
</ul>

<p [ngStyle]="{'color': questionColor}">12. Which method is the constructor in Python?</p>
<ul><div class="box-body">
    <li><input type="checkbox" name="q12">construct()</li>
    <li><input type="checkbox" name="q12">__init__()</li>
    <li><input type="checkbox" name="q12">__start__()</li>
    <li><input type="checkbox" name="q12">init()</li></div>
</ul>

<p [ngStyle]="{'color': questionColor}">13. Which data type is used to store key-value pairs?</p>
<ul><div class="box-body">
    <li><input type="checkbox" name="q13">list</li>
    <li><input type="checkbox" name="q13">tuple</li>
    <li><input type="checkbox" name="q13">dict</li>
    <li><input type="checkbox" name="q13">set</li></div>
</ul>

<p [ngStyle]="{'color': questionColor}">14. What is the output of: type(10)?</p>
<ul><div class="box-body">
    <li><input type="checkbox" name="q14">int</li>
    <li><input type="checkbox" name="q14">float</li>
    <li><input type="checkbox" name="q14">str</li>
    <li><input type="checkbox" name="q14">bool</li></div>
</ul>

<p [ngStyle]="{'color': questionColor}">15. Which keyword is used to exit a loop?</p>
<ul><div class="box-body">
    <li><input type="checkbox" name="q15">stop</li>
    <li><input type="checkbox" name="q15">exit</li>
    <li><input type="checkbox" name="q15">break</li>
    <li><input type="checkbox" name="q15">quit</li></div>
</ul>

<p [ngStyle]="{'color': questionColor}">16. Which symbol is used for equality comparison?</p>
<ul><div class="box-body">
    <li><input type="checkbox" name="q16">=</li>
    <li><input type="checkbox" name="q16">==</li>
    <li><input type="checkbox" name="q16">===</li>
    <li><input type="checkbox" name="q16">!=</li></div>
</ul>

<p [ngStyle]="{'color': questionColor}">17. What will print(len("Python")) output?</p>
<ul><div class="box-body">
    <li><input type="checkbox" name="q17">5</li>
    <li><input type="checkbox" name="q17">6</li>
    <li><input type="checkbox" name="q17">7</li>
    <li><input type="checkbox" name="q17">Error</li></div>
</ul>

<p [ngStyle]="{'color': questionColor}">18. Which one is a boolean value?</p>
<ul><div class="box-body">
    <li><input type="checkbox" name="q18">Yes</li>
    <li><input type="checkbox" name="q18">True</li>
    <li><input type="checkbox" name="q18">1.0</li>
    <li><input type="checkbox" name="q18">"True"</li></div>
</ul>

<p [ngStyle]="{'color': questionColor}">19. Which keyword is used to create a loop?</p>
<ul><div class="box-body">
    <li><input type="checkbox" name="q19">iterate</li>
    <li><input type="checkbox" name="q19">for</li>
    <li><input type="checkbox" name="q19">loop</li>
    <li><input type="checkbox" name="q19">repeat</li></div>
</ul>

<p [ngStyle]="{'color': questionColor}">20. Which operator is used for floor division?</p>
<ul><div class="box-body">
    <li><input type="checkbox" name="q20">/</li>
    <li><input type="checkbox" name="q20">//</li>
    <li><input type="checkbox" name="q20">%</li>
    <li><input type="checkbox" name="q20">*</li></div>
</ul>

\
<!-- 21 to 30 -->

<p [ngStyle]="{'color': questionColor}">21. What does the input() function return?</p>
<ul><div class="box-body">
    <li><input type="checkbox" name="q21">int</li>
    <li><input type="checkbox" name="q21">float</li>
    <li><input type="checkbox" name="q21">string</li>
    <li><input type="checkbox" name="q21">bool</li></div>
</ul>

<p [ngStyle]="{'color': questionColor}">22. Which method adds an item to a list?</p>
<ul><div class="box-body">
    <li><input type="checkbox" name="q22">append()</li>
    <li><input type="checkbox" name="q22">push()</li>
    <li><input type="checkbox" name="q22">add()</li>
    <li><input type="checkbox" name="q22">insert()</li></div>
</ul>

<p [ngStyle]="{'color': questionColor}">23. Which method removes the last item from a list?</p>
<ul><div class="box-body">
    <li><input type="checkbox" name="q23">remove()</li>
    <li><input type="checkbox" name="q23">delete()</li>
    <li><input type="checkbox" name="q23">pop()</li>
    <li><input type="checkbox" name="q23">discard()</li></div>
</ul>

<p [ngStyle]="{'color': questionColor}">24. Which function returns the largest number?</p>
<ul><div class="box-body">
    <li><input type="checkbox" name="q24">big()</li>
    <li><input type="checkbox" name="q24">max()</li>
    <li><input type="checkbox" name="q24">largest()</li>
    <li><input type="checkbox" name="q24">top()</li></div>
</ul>

<p [ngStyle]="{'color': questionColor}">25. Which operator is used for modulus?</p>
<ul><div class="box-body">
    <li><input type="checkbox" name="q25">%</li>
    <li><input type="checkbox" name="q25">#</li>
    <li><input type="checkbox" name="q25">&</li>
    <li><input type="checkbox" name="q25">/</li></div>
</ul>

<p [ngStyle]="{'color': questionColor}">26. What is the output of: 10 > 5?</p>
<ul><div class="box-body">
    <li><input type="checkbox" name="q26">True</li>
    <li><input type="checkbox" name="q26">False</li>
    <li><input type="checkbox" name="q26">None</li>
    <li><input type="checkbox" name="q26">10</li></div>
</ul>

<p [ngStyle]="{'color': questionColor}">27. What is used to handle errors?</p>
<ul><div class="box-body">
    <li><input type="checkbox" name="q27">try–except</li>
    <li><input type="checkbox" name="q27">if–else</li>
    <li><input type="checkbox" name="q27">loop</li>
    <li><input type="checkbox" name="q27">switch</li></div>
</ul>

<p [ngStyle]="{'color': questionColor}">28. What is the output of: print(2 ** 3)?</p>
<ul><div class="box-body">
    <li><input type="checkbox" name="q28">5</li>
    <li><input type="checkbox" name="q28">6</li>
    <li><input type="checkbox" name="q28">8</li>
    <li><input type="checkbox" name="q28">9</li></div>
</ul>

<p [ngStyle]="{'color': questionColor}">29. Which keyword is used to return a value?</p>
<ul><div class="box-body">
    <li><input type="checkbox" name="q29">yield</li>
    <li><input type="checkbox" name="q29">return</li>
    <li><input type="checkbox" name="q29">give</li>
    <li><input type="checkbox" name="q29">out</li></div>
</ul>

<p [ngStyle]="{'color': questionColor}">30. Which type of loop uses a condition?</p>
<ul><div class="box-body">
    <li><input type="checkbox" name="q30">for</li>
    <li><input type="checkbox" name="q30">repeat</li>
    <li><input type="checkbox" name="q30">while</li>
    <li><input type="checkbox" name="q30">loop</li></div>
</ul>


<!-- 31–60 continue below -->

<p [ngStyle]="{'color': questionColor}">31. Which symbol is used to join strings?</p>
<ul><div class="box-body">
    <li><input type="checkbox" name="q31">+</li>
    <li><input type="checkbox" name="q31">*</li>
    <li><input type="checkbox" name="q31">%</li>
    <li><input type="checkbox" name="q31">=</li></div>
</ul>

<p [ngStyle]="{'color': questionColor}">32. Which method converts a string to lowercase?</p>
<ul><div class="box-body">
    <li><input type="checkbox" name="q32">lower()</li>
    <li><input type="checkbox" name="q32">small()</li>
    <li><input type="checkbox" name="q32">down()</li>
    <li><input type="checkbox" name="q32">min()</li></div>
</ul>

<p [ngStyle]="{'color': questionColor}">33. Which one is a tuple?</p>
<!-- <ul><div class="box-body">
    <li><input type="checkbox" name="q33">[1,2]</li>
    <li><input type="checkbox" name="q33">(1,2)</li>
    <li><input type="checkbox" name="q33">{1,2}</li>
    <li><input type="checkbox" name="q33">{{ '{' }}1:2{{ '}' }}</li></div>
</ul> -->

<p [ngStyle]="{'color': questionColor}">34. What does the len() function return?</p>
<ul><div class="box-body">
    <li><input type="checkbox" name="q34">Sum</li>
    <li><input type="checkbox" name="q34">Length</li>
    <li><input type="checkbox" name="q34">Average</li>
    <li><input type="checkbox" name="q34">Count only int</li></div>
</ul>

<p [ngStyle]="{'color': questionColor}">35. Which function converts a value to integer?</p>
<ul><div class="box-body">
    <li><input type="checkbox" name="q35">toInt()</li>
    <li><input type="checkbox" name="q35">int()</li>
    <li><input type="checkbox" name="q35">integer()</li>
    <li><input type="checkbox" name="q35">convert()</li></div>
</ul>

<p [ngStyle]="{'color': questionColor}">36. What is the output of: 5 % 2?</p>
<ul><div class="box-body">
    <li><input type="checkbox" name="q36">2</li>
    <li><input type="checkbox" name="q36">1</li>
    <li><input type="checkbox" name="q36">5</li>
    <li><input type="checkbox" name="q36">3</li></div>
</ul>

<p [ngStyle]="{'color': questionColor}">37. Which data type is unordered?</p>
<ul><div class="box-body">
    <li><input type="checkbox" name="q37">list</li>
    <li><input type="checkbox" name="q37">tuple</li>
    <li><input type="checkbox" name="q37">set</li>
    <li><input type="checkbox" name="q37">string</li></div>
</ul>

<p [ngStyle]="{'color': questionColor}">38. What is the output of: bool(0)?</p>
<ul><div class="box-body">
    <li><input type="checkbox" name="q38">True</li>
    <li><input type="checkbox" name="q38">False</li>
    <li><input type="checkbox" name="q38">0</li>
    <li><input type="checkbox" name="q38">None</li></div>
</ul>

<p [ngStyle]="{'color': questionColor}">39. Which statement is used to skip an iteration?</p>
<ul><div class="box-body">
    <li><input type="checkbox" name="q39">pass</li>
    <li><input type="checkbox" name="q39">skip</li>
    <li><input type="checkbox" name="q39">continue</li>
    <li><input type="checkbox" name="q39">next</li></div>
</ul>

<p [ngStyle]="{'color': questionColor}">40. What will print("A" * 3) output?</p>
<ul><div class="box-body">
    <li><input type="checkbox" name="q40">AAA</li>
    <li><input type="checkbox" name="q40">A3</li>
    <li><input type="checkbox" name="q40">3A</li>
    <li><input type="checkbox" name="q40">Error</li></div>
</ul>



<!-- 41–50 -->

<p [ngStyle]="{'color': questionColor}">41. Which function returns the smallest number?</p>
<ul><div class="box-body">
    <li><input type="checkbox" name="q41">min()</li>
    <li><input type="checkbox" name="q41">small()</li>
    <li><input type="checkbox" name="q41">low()</li>
    <li><input type="checkbox" name="q41">down()</li></div>
</ul>

<p [ngStyle]="{'color': questionColor}">42. Which operator checks membership?</p>
<ul><div class="box-body">
    <li><input type="checkbox" name="q42">in</li>
    <li><input type="checkbox" name="q42">==</li>
    <li><input type="checkbox" name="q42">+</li>
    <li><input type="checkbox" name="q42">//</li></div>
</ul>

<p [ngStyle]="{'color': questionColor}">43. What is the output of: "a" in "apple"?</p>
<ul><div class="box-body">
    <li><input type="checkbox" name="q43">True</li>
    <li><input type="checkbox" name="q43">False</li>
    <li><input type="checkbox" name="q43">None</li>
    <li><input type="checkbox" name="q43">Error</li></div>
</ul>

<p [ngStyle]="{'color': questionColor}">44. Which type of loop executes at least once?</p>
<ul><div class="box-body">
    <li><input type="checkbox" name="q44">while</li>
    <li><input type="checkbox" name="q44">for</li>
    <li><input type="checkbox" name="q44">do-while (not in Python)</li>
    <li><input type="checkbox" name="q44">loop</li></div>
</ul>

<p [ngStyle]="{'color': questionColor}">45. Which statement ends a function?</p>
<ul><div class="box-body">
    <li><input type="checkbox" name="q45">break</li>
    <li><input type="checkbox" name="q45">return</li>
    <li><input type="checkbox" name="q45">stop</li>
    <li><input type="checkbox" name="q45">exit</li></div>
</ul>

<p [ngStyle]="{'color': questionColor}">46. Which method converts a string to uppercase?</p>
<ul><div class="box-body">
    <li><input type="checkbox" name="q46">upper()</li>
    <li><input type="checkbox" name="q46">big()</li>
    <li><input type="checkbox" name="q46">up()</li>
    <li><input type="checkbox" name="q46">large()</li></div>
</ul>

<p [ngStyle]="{'color': questionColor}">47. Which symbol represents an empty dictionary?</p>
<ul><div class="box-body">
    <li><input type="checkbox" name="q47">{{ '{' }}{{ '}' }}</li>
    <li><input type="checkbox" name="q47">()</li>
    <li><input type="checkbox" name="q47">[]</li>
    <li><input type="checkbox" name="q47">""</li></div>
</ul>

<p [ngStyle]="{'color': questionColor}">48. Which collection does not allow duplicates?</p>
<ul><div class="box-body">
    <li><input type="checkbox" name="q48">list</li>
    <li><input type="checkbox" name="q48">tuple</li>
    <li><input type="checkbox" name="q48">set</li>
    <li><input type="checkbox" name="q48">dict</li></div>
</ul>

<p [ngStyle]="{'color': questionColor}">49. Which operator checks identity?</p>
<ul><div class="box-body">
    <li><input type="checkbox" name="q49">is</li>
    <li><input type="checkbox" name="q49">in</li>
    <li><input type="checkbox" name="q49">==</li>
    <li><input type="checkbox" name="q49">*</li></div>
</ul>

<p [ngStyle]="{'color': questionColor}">50. What is the output of: "5" + "5"?</p>
<ul><div class="box-body">
    <li><input type="checkbox" name="q50">10</li>
    <li><input type="checkbox" name="q50">55</li>
    <li><input type="checkbox" name="q50">Error</li>
    <li><input type="checkbox" name="q50">None</li></div>
</ul>


<!-- 51–60 -->

<p [ngStyle]="{'color': questionColor}">51. What is the output of: int("10")?</p>
<ul><div class="box-body">
    <li><input type="checkbox" name="q51">"10"</li>
    <li><input type="checkbox" name="q51">10</li>
    <li><input type="checkbox" name="q51">1</li>
    <li><input type="checkbox" name="q51">Error</li></div>
</ul>

<p [ngStyle]="{'color': questionColor}">52. Which type of error occurs during execution?</p>
<ul><div class="box-body">
    <li><input type="checkbox" name="q52">Logical Error</li>
    <li><input type="checkbox" name="q52">Runtime Error</li>
    <li><input type="checkbox" name="q52">Syntax Error</li>
    <li><input type="checkbox" name="q52">Manual Error</li></div>
</ul>

<p [ngStyle]="{'color': questionColor}">53. Which keyword is used to define an anonymous function?</p>
<ul><div class="box-body">
    <li><input type="checkbox" name="q53">def</li>
    <li><input type="checkbox" name="q53">lambda</li>
    <li><input type="checkbox" name="q53">func</li>
    <li><input type="checkbox" name="q53">anonymous</li></div>
</ul>

<p [ngStyle]="{'color': questionColor}">54. Which function returns the absolute value?</p>
<ul><div class="box-body">
    <li><input type="checkbox" name="q54">abs()</li>
    <li><input type="checkbox" name="q54">absolute()</li>
    <li><input type="checkbox" name="q54">value()</li>
    <li><input type="checkbox" name="q54">absValue()</li></div>
</ul>

<p [ngStyle]="{'color': questionColor}">55. What is the output of: not True?</p>
<ul><div class="box-body">
    <li><input type="checkbox" name="q55">True</li>
    <li><input type="checkbox" name="q55">False</li>
    <li><input type="checkbox" name="q55">None</li>
    <li><input type="checkbox" name="q55">Error</li></div>
</ul>

<p [ngStyle]="{'color': questionColor}">56. Which keyword is used inside a class to refer to the object?</p>
<ul><div class="box-body">
    <li><input type="checkbox" name="q56">this</li>
    <li><input type="checkbox" name="q56">self</li>
    <li><input type="checkbox" name="q56">object</li>
    <li><input type="checkbox" name="q56">class</li></div>
</ul>

<p [ngStyle]="{'color': questionColor}">57. Which operator is used for string repetition?</p>
<ul><div class="box-body">
    <li><input type="checkbox" name="q57">+</li>
    <li><input type="checkbox" name="q57">*</li>
    <li><input type="checkbox" name="q57">**</li>
    <li><input type="checkbox" name="q57">%</li></div>
</ul>

<p [ngStyle]="{'color': questionColor}">58. Which type of error is caused by wrong grammar in code?</p>
<ul><div class="box-body">
    <li><input type="checkbox" name="q58">Runtime Error</li>
    <li><input type="checkbox" name="q58">Syntax Error</li>
    <li><input type="checkbox" name="q58">Logical Error</li>
    <li><input type="checkbox" name="q58">Calculation Error</li></div>
</ul>

<p [ngStyle]="{'color': questionColor}">59. Which symbol is used for comments in Python?</p>
<ul><div class="box-body">
    <li><input type="checkbox" name="q59">#</li>
    <li><input type="checkbox" name="q59">//</li>
    <li><input type="checkbox" name="q59">--</li>
    <li><input type="checkbox" name="q59">/**/</li></div>
</ul>

<p [ngStyle]="{'color': questionColor}">60. Which of the following represents a set?</p>
<!-- <ul>
    <div class="box-body">
    <li><input type="checkbox" name="q60">{ 1, 2, 3 }</li>
    <li><input type="checkbox" name="q60">( 1, 2, 3 )</li>
    <li><input type="checkbox" name="q60">[ 1, 2, 3 ]</li>
    <li><input type="checkbox" name="q60">"1,2,3"</li></div>
</ul> -->