<div class="quiz-wrapper">
<div class="main-content">
    <div class="header-bar">
      <span class="username">{{ username }}</span>
      <div class="status-area">
        <span>{{ timerHours | number: '2.0' }}</span> Hrs :
        <span>{{ timerMinutes | number: '2.0' }}</span> Min |
        <span class="nav-text" (click)="prevQuestion()" [class.disabled]="currentPage === 1">
        < Prev
        </span>
        {{ currentQuestionIndex }}/{{ totalQuestions }}

        <span class="nav-text" (click)="nextQuestion()" [class.disabled]="currentPage === totalPages">
          Next >
        </span>
      </div>
    </div>
    <div class="question-area" *ngIf="currentQuestion">
      <div class="statement-box">
        <h3>Statement</h3>
        <p>{{ currentPage }}. {{ currentQuestion.question }}</p>
      </div>
      <div class="options-box">
        <h3>Select one of the following options:</h3>
      <div class="options-list">

     <label *ngFor="let option of currentQuestion.options" class="option-card"
        [class.selected]="selectedAnswer[currentQuestion.id] === option">
 
     <input
      type="radio"
      name="question{{ currentQuestion.id }}"
      [value]="option"
      [(ngModel)]="selectedAnswer[currentQuestion.id]"
      (change)="selectOption(option)"
     />

    <span class="option-text">{{ option }}</span>
   </label>

  </div>
        <label class="review-check">
          <input type="checkbox" [(ngModel)]="markedForReview[currentQuestion.id]" />
          Mark for review
        </label>
      </div>
    </div>

    <div class="bottom-buttons">
      <button class="btn" *ngIf="currentPage > 1" (click)="prevQuestion()">Prev</button>
      <button class="btn" *ngIf="currentPage < totalPages" (click)="nextQuestion()">Next</button>
      <button class="btn submit" *ngIf="currentPage === totalPages" (click)="submitAssignment()">Submit</button>
    </div>

   
    </div>

  <div class="right-panel">
    <h3>Question Palette</h3>

    <div class="palette-grid">

      <button
        *ngFor="let q of visiblePalette"
        class="palette-btn"
        [ngClass]="{
          'not-visited': !selectedAnswer[q.id],
          'answered': selectedAnswer[q.id],
          'marked': markedForReview[q.id]
        }"
        (click)="goToQuestion(q.page)"
      >
        {{ q.page }}
      </button>
    </div>
   </div>

     </div>
