
.header{
   width: 100%;
   height: 200px; 
  background-image: url(../../assets/assesspf/terms.jpeg);
 background-size: cover;
  background-position: center;


}
.head {
    font-size: 60px;
    font-weight: bold;
    text-align:right;
    margin-bottom: 20px;
    padding-right: 100px;
    padding-top: 50px;
     text-shadow: 2px 2px 8px rgba(0,0,0,0.7);
 
}
.main{
    width: 100%;
    height: auto;
    background-image: url(../../assets/assesspf/main.jpg);
    background-size: cover;
    margin-top:-30px;
    margin-bottom:-15px;

}
.guideline{
    text-align: center;
    text-decoration: underline;
    font-size: 30px;
    font-weight: bold;
}
h3{
    padding-left: 300px;
}
.ins{
    padding-left: 400px;
}
p{
    padding-left: 350px;

}
.agree-text{
    padding-top: 20px;
    padding-left: 500px;
}
#continueBtn{
    text-align: center;
   display: block;
  margin: 30px auto;
  border-radius: 25px;
  height: 45px;
  width: 160px;
  background-color: black;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: 0.2s ease;
}
.lastline{
    padding-left: 300px;
    padding-top: 10px;

} 

@media (max-width: 768px) {
  .head {
    font-size: 32px;
    padding-right: 20px;
  }

  h3, p, .ins, .agree-text, .lastline {
    padding-left: 10px;
    padding-right: 10px;
  }

  #continueBtn {
    width: 80%;
  }
}
#continueBtn:hover {
  transform: scale(1.05);
}




