.content{
  margin: 0;
  font-family: Arial, sans-serif;
}
.header{
   width: 100%;
   height: 200px; 
  background-image: url(../../assets/assesspf/header.png);
 background-size: cover;
  background-position: center;
  margin-top: -50px;


}
.head {
    font-size: 50px;
    font-weight: bold;
    text-align:left;
    margin-bottom: 20px;
    padding-top: 50px;
    color: white;
    padding-left: 40px;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.7);
  
 
}
.main{
    width: 100%;
    height: auto;
    background-image: url("../../assets/aspimages/assbg.jpeg");
    background-size: cover;
    margin-top:-30px;
    margin-bottom:-15px;

}
.guideline{
    text-align: center;
    text-decoration: underline;
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
    padding-top: 20px;
}
h3{
    padding-left: 300px;
    font-size: 28px;
  font-weight: 700;

}
.ins{
    padding-left: 400px;
}
p{
    padding-left: 350px;

}
.agree-text{
    padding-top: 20px;
    padding-left: 500px;
}
#continueBtn{
    text-align: center;
   display: block;
  margin: 30px auto;
  border-radius: 25px;
  height: 45px;
  width: 160px;
  background-color: black;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: 0.2s ease;
}
.lastline{
    padding-left: 300px;
} 


.warn {
  color: red;
  font-weight: bold;
  margin-left: 150px;
  margin-top: 5px;
}


@media (max-width: 768px) {
  .head {
    font-size: 32px;
    padding-right: 20px;
  }

  h3, p, .ins, .agree-text, .lastline {
    padding-left: 10px;
    padding-right: 10px;
  }

  #continueBtn {
    width: 80%;
  }
}
#continueBtn:hover {
  transform: scale(1.05);
}




