<div class="container">

  <div class="card">
  <h2 class="title">Instructions:</h2>
  <hr>

  <ul>
    <li><span class="green">This is a FREE online test.</span> Beware of scammers who ask for money.</li>
    <li>Total number of questions: <b>60</b></li>
    <li>Time allotted: <b>60 minutes</b></li>
    <li>Each question carries 1 mark; there are no negative marks.</li>
    <li><b>DO NOT</b> refresh the page.</li>
    <li>All the best!</li>
  </ul>

  <button class="start-btn" (click)="openTest()">Start Test</button>
</div>

</div>