.pic {
  position: relative;
  width: 100%;
  height: 370px;
}

.pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pic h1 {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 42px;
  font-weight: 700;
  color: white;
}

.heading {
  text-align: center;
  padding: 40px 20px;
}

.heading h2 {
  font-size: 35px;
  font-weight: 700;
  text-decoration: underline dotted;
}

.heading p {
  margin-top: 10px;
  font-size: 19px;
  color: black;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  padding: 40px;
  background-color: #ffffff;
}

.form {
  background: #eef5db;      
  padding: 30px;
  width: 420px;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
}

.form label {
  font-weight: 600;
  display: block;
  margin-bottom: 5px;
  font-size: 15px;
}

.form input,
.form textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #bbbbbb;
  border-radius: 10px;
  margin-bottom: 18px;
  font-size: 15px;
}

.form textarea {
  height: 120px;
  resize: none;
}

.form button {
  width: 100%;
  padding: 12px;
  background: #1d8a35;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
}

.form button:hover {
  background: #146c29;
}

.form-pic img {
  width: 600px;
  height: 400px;
  border-radius: 20px;
}


.location {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background: #dcedf7;
  padding: 40px 30px;
}

.para {
  width: 50%;
}

.para h2 {
  font-size: 32px;
  text-decoration: underline dotted;
}

.map {
  width: 45%;
}
