<div class="main-container">
<h1 [ngStyle]="{ 'color': heding }">Online Full Stack Assignment</h1>
<h2>Multiple Choice Questions</h2>

<div *ngFor="let q of paginatedQuestions">
  <p [ngStyle]="{ 'color': questionColor }">{{ q.id }}. {{ q.question }}</p>

  <ul class="box-body">
    <li *ngFor="let opt of q.options">
      <input 
        type="checkbox" 
        [name]="'q' + q.id" 
        (change)="selectOnlyOne(q.id, $event)"
      />
      {{ opt }}
    </li>
  </ul>
</div>

<!-- Pagination Buttons -->
<div class="btn">
  <button (click)="prevPage()" [disabled]="currentPage === 1">
    Previous
  </button>

  <button (click)="nextPage()" [disabled]="currentPage === 6">
    Next
  </button>
</div>
<p>Page {{ currentPage }} of 6</p>
</div>