<h1>Online Java Assignment</h1>
<h2>Multiple Choice questions</h2>
<p>1. Which keyword is used to inherit a class in Java?</p>
<ul>
    <li><input type="radio" name="q1">implements</li>
    <li><input type="radio" name="q1">extends</li>
    <li><input type="radio" name="q1">final</li>
    <li><input type="radio" name="q1">package</li>
</ul>
<p>2. Which data type is used to store decimal values?</p>
<ul>
    <li><input type="radio" name="q2">int</li>
    <li><input type="radio" name="q2">double</li>
    <li><input type="radio" name="q2">char</li>
    <li><input type="radio" name="q2">boolean</li>
</ul>
<p>3. Which method executes first when a Java program runs?</p>
<ul>
    <li><input type="radio" name="q3">start()</li>
    <li><input type="radio" name="q3">run()</li>
    <li><input type="radio" name="q3">main()</li>
    <li><input type="radio" name="q3">execute()</li>
</ul>
<p>4. Which collection does NOT allow duplicate values?</p>
<ul>
    <li><input type="radio" name="q4">ArrayList</li>
    <li><input type="radio" name="q4">LinkedList</li>
    <li><input type="radio" name="q4">HashSet</li>
    <li><input type="radio" name="q4">Vector</li>
</ul>
<p>5. Which OOP concept hides internal implementation and shows only the required functionality?</p>
<ul>
    <li><input type="radio" name="q5">Inheritance</li>
    <li><input type="radio" name="q5">Polymorphism</li>
    <li><input type="radio" name="q5">Abstraction</li>
    <li><input type="radio" name="q5">Overloading</li>
</ul>
<p>6. Which keyword is used to create an object in Java?</p>
<ul>
    <li><input type="radio" name="q6">create</li>
    <li><input type="radio" name="q6">object</li>
    <li><input type="radio" name="q6">new</li>
    <li><input type="radio" name="q6">init</li>
</ul>

<p>7. Which loop runs at least once even if the condition is false?</p>
<ul>
    <li><input type="radio" name="q7">for</li>
    <li><input type="radio" name="q7">while</li>
    <li><input type="radio" name="q7">do-while</li>
    <li><input type="radio" name="q7">foreach</li>
</ul>

<p>8. Which of the following is NOT a Java access modifier?</p>
<ul>
    <li><input type="radio" name="q8">public</li>
    <li><input type="radio" name="q8">private</li>
    <li><input type="radio" name="q8">protected</li>
    <li><input type="radio" name="q8">package-private</li>
</ul>

<p>9. Which class is used to take input from the user in Java?</p>
<ul>
    <li><input type="radio" name="q9">Scanner</li>
    <li><input type="radio" name="q9">Buffer</li>
    <li><input type="radio" name="q9">InputClass</li>
    <li><input type="radio" name="q9">Reader</li>
</ul>

<p>10. Which operator is used for comparison in Java?</p>
<ul>
    <li><input type="radio" name="q10">=</li>
    <li><input type="radio" name="q10">==</li>
    <li><input type="radio" name="q10">===</li>
    <li><input type="radio" name="q10">!=</li>
</ul>

