<router-outlet></router-outlet>
<header class="header">
  <div class="logo">
    <span><img src="assets/homeImg/img5.jpg" class="two"></span>
  </div>  
  <nav class="nav">
    <a routerLink="">Home </a>
    <a routerLink="ass">Assessment Platform</a>
    <a routerLink="contact">Contact</a>
  </nav>
  <div class="icons">
   <a><i class="fab fa-facebook"></i></a>
    <a><i class="fab fa-instagram"></i></a>
    <a><i class="fab fa-youtube"></i></a>
    <a><i class="fab fa-x-twitter"></i></a>
  </div>
</header>
<router-outlet></router-outlet>






<!-- Footer section -->
<footer class="footer">
  <div class="footer-container">

    <!-- Contact Section -->
    <div class="footer-column">
      <h3 class="footer-title">Contact</h3>
      <p><strong>Address:</strong><br>
        2nd Floor, 1, Tansi Nagar 2nd St,<br>
        Near Royal Shoppee, Velachery,<br>
        Chennai, Tamil Nadu – 600042
      </p>

      <p><strong>Contact:</strong><br>
        <a href="tel:+919443938850">+91 94439 38850</a>
      </p>

      <p><strong>Email:</strong><br>
        <a href="https://mail.google.com/mail/?view=cm&fs=1&to=hr@tvktechs.com" target="_blank">hr@tvktechs.com</a>
      </p>
      

    </div>

    <!-- About Section -->
    <div class="footer-column about">
      <h3 class="footer-title">About Us</h3>
      <p>
        TVK Technologies offers IT training, placement support,
        and software development services — helping students gain real-time skills
        and connecting companies with skilled talent.
      </p>
      <!-- Social Icons -->
    <div class="social-icons">
    <a href="https://www.facebook.com/profile.php?id=61573893652921&amp;mibextid=ZbWKwL" target="_blank" ><i class="fab fa-facebook"></i></a>
    <a href="https://www.instagram.com/tvktech?igsh=bmk5ODIzeHBuMGJn" target="_blank"  ><i class="fab fa-instagram"></i></a>
    <a href="https://youtube.com/@tvktechnologies?si=VCGzSa1EGXTdwmND" target="_blank" ><i class="fab fa-youtube"></i></a>
    <a href="https://wa.me/9443938850" target="_blank" class="social-icon" > <i class="fab fa-whatsapp"></i></a>
    </div>
    </div>

    <!-- Links Section -->
    <div class="footer-column">
      <h3 class="footer-title">Assessments</h3>

      <ul class="footer-links">
        <li><a routerLink="fullstack">Full Stack Assignment</a></li>
        <li><a routerLink="frontend">Front-End Assignment</a></li>
        <li><a routerLink="backend">Back-End Assignment</a></li>
        <li><a routerLink="python">Python Assignment</a></li>
        <li><a routerLink="testing">Testing Team Assignment</a></li>
        <li><a routerLink="java">Java Assignment</a></li>
      </ul>
    </div>

  </div>

  <p class="copyright">
    © 2025 TVK Technologies. All rights reserved.
  </p>
</footer>
