/* Navbar */
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(174, 205, 240);
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 0 40px; 
  height: 100px;
  box-sizing: border-box;
  font-family:'Times New Roman', Times, serif;
  font-weight: bold;
}
.two {
 height: 100px;
}
.nav {
  display: flex;
  gap: 30px;
}
.nav a {
  font-size: 20px;
  color: black;
  text-decoration: none;
  transition: color 0.3s, transform 0.2s;
}
.nav a:hover {
  background-color: #149cda;
  border-radius: 20px;
  color: rgb(253, 253, 255);
  transform: translateY(-2px); 
  padding: 5px 10px; 
}
.icons {
  display: flex;
  gap: 20px; 
  
}
.icons a { 
  color: black;
  font-size: 18px;
  transition: color 0.3s, transform 0.2s;
}
.icons a:hover { 
  color: rgb(12, 78, 245);
  transform: scale(1.1);
}






.footer {
  background-color: #F4C430;
  padding: 40px 20px;
  text-align: center; 
}
.footer-container{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}
.footer-contact, 
.footer-links {
  width: 45%;
  margin-right: 60px;
}
.footer-contact a{
  text-decoration: none;
}
.footer h2 {
  margin: 0 0 20px 0;
  text-decoration: underline;
}
.footer p, .footer li {
  font-size: 18px;
  line-height: 28px;
}
.footer a {
  color: black;
  
}

.link-columns {
  display: flex;
  justify-content: space-between;
}
.link-columns ul {
  list-style: none;
  padding: 0;
  
}
.link-columns li {
 
  display: flex;
  align-items: center;                   
  line-height: 40px;   
  font-size: 18px;
}
.link-columns li a{
    text-decoration: none;
}
.link-columns li a:hover{
    cursor: pointer;
    font-size: 20px;
}
.copyright {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: bold;
}
