
<!-- Footer section -->

<footer class="footer">
  <div class="footer-container">
    <div class="footer-contact">
      <h2>CONTACT</h2>

      <p><b>Address :</b><br>
        2nd floor, 1, Tansi Nagar 2nd St,<br>
       near Royal Shoppee,
       Tansi Nagar, Velachery,<br>
        Chennai, Tamil Nadu 600042
      </p>
        

      <p><b>Contact :</b><br>
        +91 xxxxx-xxxxx
      </p>

      <p><b>Email :</b><br><a href="tvk@gmail.com"> tvk&#64;gmail.com</a></p>
    </div>
    <div class="footer-links">
      <h2>DIRECT LINK FOR ASSESSMENT</h2>

      <div class="link-columns">
        
        <ul>
          <li> <a routerLink="">IT Dept Assignment</a></li>
          <li> <a routerLink="">EEE Dept Assignment</a></li>
          <li> <a routerLink="">CSE Dept Assignment</a></li>
          <li> <a routerLink="">MECH Dept Assignment</a></li>
          <li> <a routerLink="">ECE Dept Assignment</a></li>
          <li> <a routerLink="">MBA Assignment</a></li>
          <li> <a routerLink="">DB Management Assignment</a></li>
        </ul>

        <ul>
          <li> <a routerLink="">Full Stack Assignment</a></li>
          <li> <a routerLink="">Front-End Assignment</a></li>
          <li> <a routerLink="">Back-End Assignment</a></li>
          <li> <a routerLink="">Python Assignment</a></li>
          <li> <a routerLink="">Testing Team Assignment</a></li>
          <li> <a routerLink="">Java Assignment</a></li>
          <li> <a routerLink="">Selenium Assignment</a></li>
        </ul>
      </div>
    </div>
  </div>
  <p class="copyright">
    © 2024. All rights reserved.
  </p>

</footer>

