
<router-outlet></router-outlet>
<header class="header">
  <div class="logo">
    <span>TVK Logo</span>
  </div>

  <nav class="nav">
    <a routerLink="">Home </a>
    <a routerLink="ass">Assessment Platform</a>
    <a routerLink="contact">Contact</a>
  </nav>

  <div class="icons">
    <a href="#"><i class=""></i></a>
    <a href="#"><i class=""></i></a>
    <a href="#"><i class=""></i></a>
    <a href="#"><i class=""></i></a>
  </div>
</header>
<router-outlet></router-outlet>
<!-- Footer section -->

<footer class="footer">
  <div class="footer-container">
    <div class="footer-contact">
      <h2>CONTACT</h2>

      <p><b>Address :</b><br>
        2nd floor, 1, Tansi Nagar 2nd St,<br>
       near Royal Shoppee,
       Tansi Nagar, Velachery,<br>
        Chennai, Tamil Nadu 600042
      </p>
        

      <p><b>Contact :</b><br>
        +91 xxxxx-xxxxx
      </p>

      <p><b>Email :</b><br><a href="tvk@gmail.com"> tvk&#64;gmail.com</a></p>
    </div>
    <div class="footer-links">
      <h2>DIRECT LINK FOR ASSESSMENT</h2>

      <div class="link-columns">
        
        <ul>
          <li> <a routerLink="fullstack">Full Stack Assignment</a></li>
          <li> <a routerLink="frontend">Front-End Assignment</a></li>
          <li> <a routerLink="backend">Back-End Assignment</a></li>
        </ul>

        <ul>
          <li> <a routerLink="python">Python Assignment</a></li>
          <li> <a routerLink="testing">Testing Team Assignment</a></li>
          <li> <a routerLink="java">Java Assignment</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="icons">
    <a><i class="fab fa-facebook"></i></a>
    <a><i class="fab fa-instagram"></i></a>
    <a><i class="fab fa-youtube"></i></a>
    <a><i class="fab fa-x-twitter"></i></a>
  </div>
  <p class="copyright">
    © 2025. All rights reserved. Designed and Developed By TVK technologies.
  </p>

</footer>

