<h1>Online Full Stack Assignment</h1>
<h2>Multiple Choice Questions</h2>


<p>1. Which technology is used to build the structure of a web page?</p>
<ul>
    <li><input type="radio" name="q1">CSS</li>
    <li><input type="radio" name="q1">JavaScript</li>
    <li><input type="radio" name="q1">HTML</li>
    <li><input type="radio" name="q1">SQL</li>
</ul>

<p>2. Which framework is used for building single-page applications?</p>
<ul>
    <li><input type="radio" name="q2">Angular</li>
    <li><input type="radio" name="q2">Java</li>
    <li><input type="radio" name="q2">MySQL</li>
    <li><input type="radio" name="q2">Spring</li>
</ul>

<p>3. Which framework is commonly used for building REST APIs in Java?</p>
<ul>
    <li><input type="radio" name="q3">React</li>
    <li><input type="radio" name="q3">Spring Boot</li>
    <li><input type="radio" name="q3">Bootstrap</li>
    <li><input type="radio" name="q3">Django</li>
</ul>

<p>4. Which HTTP method is used to create new data in a REST API?</p>
<ul>
    <li><input type="radio" name="q4">GET</li>
    <li><input type="radio" name="q4">POST</li>
    <li><input type="radio" name="q4">DELETE</li>
    <li><input type="radio" name="q4">PUT</li>
</ul>


<p>5. Which database language is used to store and retrieve relational data?</p>
<ul>
    <li><input type="radio" name="q5">HTML</li>
    <li><input type="radio" name="q5">SQL</li>
    <li><input type="radio" name="q5">CSS</li>
    <li><input type="radio" name="q5">JDBC</li>
</ul>

<p>6. Which command is used to select all records from a table?</p>
<ul>
    <li><input type="radio" name="q6">SELECT * FROM table_name;</li>
    <li><input type="radio" name="q6">FETCH ALL table_name;</li>
    <li><input type="radio" name="q6">GET table_name;</li>
    <li><input type="radio" name="q6">SHOW table_name;</li>
</ul> 


<p>7. What is the role of a REST API?</p>
<ul>
    <li><input type="radio" name="q7">Store images</li>
    <li><input type="radio" name="q7">Connect front-end to back-end</li>
    <li><input type="radio" name="q7">Design UI</li>
    <li><input type="radio" name="q7">Compile code</li>
</ul>

<p>8. Which of the following is used to connect Java applications to a database?</p>
<ul>
    <li><input type="radio" name="q8">JDBC</li>
    <li><input type="radio" name="q8">HTML</li>
    <li><input type="radio" name="q8">CSS</li>
    <li><input type="radio" name="q8">Photoshop</li>
</ul>

<p>9. Which platform is commonly used to deploy full-stack applications?</p>
<ul>
    <li><input type="radio" name="q9">GitHub Pages</li>
    <li><input type="radio" name="q9">Heroku</li>
    <li><input type="radio" name="q9">Spring Tool Suite</li>
    <li><input type="radio" name="q9">VS Code</li>
</ul>

<p>10. Which tool is used for version control in full-stack development?</p>
<ul>
    <li><input type="radio" name="q10">Git</li>
    <li><input type="radio" name="q10">MS Word</li>
    <li><input type="radio" name="q10">Chrome</li>
    <li><input type="radio" name="q10">Notepad</li>
</ul>