
<div class="hero">
 
  <h1>{{title}}</h1>
  <p>{{title1}}</p>
  <button (click)="start()">Start</button>

</div>
<section class="welcome">
  <div class="text">
    <h2>Welcome to Yetram Assessment Platform</h2>
    <p>
      At Yetram HR Solutions Pvt Ltd, we are committed to bridging the gap between
      academic knowledge and industry expectations. To achieve this,
      we introduce Online Assessments for College Students — a one-hour,
      skill-focused evaluation designed to unlock true potential.
    </p>
    <div class="stats">
      <div><h3>{{title2}}</h3><p>{{title3}}</p></div>
      <div><h3>15</h3><p>Trusted by Experts</p></div>
    </div>
  </div>
  <img [src]="image" class="welcome-img" />
   
</section>
<section class="offer">
  <h2>What We Offer </h2>
  <div class="offer-container">
    <div class="card">
      <img [src]="image1" />
      <p><b>Customizable Assessments:</b> Tailored tests based on technical, analytical & soft skills.</p>
    </div>

    <div class="card">
      <img [src]="image2" />
      <p><b>Industry-Aligned Content:</b> Aligned with industry requirements & latest trends.</p>
    </div>
  </div>
 
</section>

<section class="student">
  <ul>
  <h2>Benefits for Students</h2>
  
  <li>Gain insights into strengths and areas for improvement</li>
  <li>Understand skill alignment with industry requirements</li>
  </ul>
  <img [src]="image3" class="student-img" />
 
</section>

