
<div class="hero">
 
  <h1>{{title}}</h1>
  <p>{{title1}}</p>
  <button (click)="start()">Start</button>

</div>
<section class="four">
<section class="welcome section-animate" >
 
  <div class="text">
    <h2>Welcome to TVK Assessment Platform</h2>
<p>
  At TVK HR Solutions Pvt Ltd, we are committed to bridging the gap between
  academic knowledge and industry expectations. To achieve this, we introduce
  Online Assessments for College Students — a one-hour, skill-focused evaluation
  designed to unlock true potential.
</p>

<p>
  Our assessment platform provides students with an opportunity to showcase their
  capabilities, enhance their confidence, and receive real-time performance
  insights. With industry-relevant questions curated by experts, students can
  understand their strengths, identify improvement areas, and prepare effectively
  for future placement drives.
</p>
  <li> One-hour online skill assessment</li>
  <li> Performance-based scorecard and feedback</li>
  <li> Tailored for college students across all departments</li>
  <li> Helps improve problem-solving and technical skills</li>
  <li> Enhances readiness for campus interviews and real-world roles</li>

    <div class="stats">
      <div><h3>{{title2}}</h3><p>{{title3}}</p></div>
      <div><h3>15</h3><p>Trusted by Experts</p></div>
    </div>
  </div>
    <img [src]="image" class="welcome-img" />   
   
   
</section>
</section>
<section class="offer section-animate">
  <h2>What We Offer </h2>
  <div class="offer-container">
    <div class="card">
      <img [src]="image1" class="three"/>
      <p><b>Customizable Assessments:</b> Tailored tests based on technical, analytical & soft skills.</p>
    </div>

    <div class="card">
      <img [src]="image2"  />
      <p><b>Industry-Aligned Content:</b> Aligned with industry requirements & latest trends.</p>
    </div>
  </div>
 
</section>
<section class="student section-animate">
  <div class="student-container">
  <ul>
    <h2>Benefits for Students</h2>

    <li>Gain insights into strengths and areas for improvement</li>
    <li>Understand skill alignment with industry requirements</li>
    <li>Boost confidence through real-time assessment feedback</li>
    <li>Develop problem-solving and critical-thinking abilities</li>
    <li>Access personalized learning recommendations</li>
    <li>Track performance progress over time through analytics</li>
    <li>Enhance preparation for campus placements and interviews</li>
    <li>Identify best-suited career paths based on skills</li>
    <li>Improve time management and accuracy through practice</li>
    <li>Stand out from peers with proven performance results</li>
  </ul>
</div>
 

  
  
 
</section>

