.register-container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #ece9e6, #ffffff);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-family: "Poppins", sans-serif;
}

.register-card h2 {
  text-align: center;
  font-size: 26px;
  color: #0769d1 !important; 
  margin-bottom: 20px;
  font-weight: 600;
}

.register-card {
  width: 500px;
  background: #ffffff;
  padding: 35px;
  border-radius: 16px;
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.15);
  animation: fadeIn 0.8s ease;
}

.register-card h2 {
  text-align: center;
  font-size: 26px;
  color: #333;
  margin-bottom: 20px;
  font-weight: 600;
}

.form-group {
  margin-bottom: 18px;
}

.form-group label {
  font-size: 15px;
  font-weight: 1500px;
  margin-bottom: 6px;
  display: block;
  color: #0f0f0f;
}

.form-group input,
.form-group textarea {
  width: 90%;
  padding: 12px 14px;
  border-radius: 10px;
  border: 2px solid #3e5de7;
  font-size: 15px;
  background: #f8f8f8;
  transition: all 0.3s ease;
  resize: none;
}

.form-group input:hover,
.form-group textarea:hover {
  background: #c2d3e7;
  border-color: #0717fa;
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: #6a11cb;
  background: #fff;
  box-shadow: 0 0 10px rgba(106, 17, 203, 0.3);
  outline: none;
}

button[type="submit"] {
  width: 100%;
  padding: 13px;
  border: none;
  border-radius: 12px;
  font-size: 17px;
  font-weight: 600;
  color: white;
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  cursor: pointer;
  transition: all 0.3s ease;
}

button[type="submit"]:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 25px rgba(106, 17, 203, 0.4);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 420px) {
  .register-card {
    width: 100%;
    padding: 25px;
  }
}

.form-group select {
  width: 96%;
  padding: 12px 14px;
  border-radius: 10px;
  border: 2px solid #3e5de7;
  font-size: 15px;
  background: #f8f8f8;
  transition: all 0.3s ease;
  cursor: pointer;
}

.form-group select:hover {
  background: #c2d3e7;
  border-color: #0717fa;
}

.form-group select:focus {
  background: #fff;
  border-color: #6a11cb;
  box-shadow: 0 0 10px rgba(106, 17, 203, 0.3);
  outline: none;
}
